/*Nav Bar */
#aboveNav {
  background-color: #AC1018;
  color: white;
  font-weight: bold;
  padding:10px;
  height: 45px;
}
#register{
  color: white;
  font-size: 18px;
  text-decoration: none;
}
#register:hover{
  color: black;
}
.navBar{
  height: 80px;
}
.navLinks{
  font-size: 23px;
  padding: 20px;
  color: black ;
  font-weight:600;
}
#navHome{
  color: #AC1018;
}

/*Header*/
.header{
  position: relative;
}
#findButton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

   background-color: white;
   color: black;
   font-size: 20px;
   font-weight: bold;
   border: white;
   border-radius: 20px;
   padding: 15px 65px;

   -webkit-border-radius: 20px; /*for chrome*/
     white-space: nowrap; /*for button to be always the same size*/

}
#findButton:hover{
  background-color: rgb(211, 211, 211);
}
/*modals*/

.modals{
  float: right;
  margin-top: -35px;
  margin-right: 34px;
}
.Mheadings{
  color: #AC1018;
}
#drivers{
  margin-right: 125px;
  float: right;
}
/* order ambulance*/

#ambulancePic{
  height: 120px;
  width: 120px;
  border: 1px solid rgb(228, 225, 225);
  padding: 10px;
 
}
/*benefits */

.centerr{
  margin-right: 0px;

  margin-inline-end: -90px;

  
}


/*Footer */
.footer{
  background-color: #AC1018;
  color: white;

  margin-bottom: 0;

}


.footerHeaders{
  font-size: 30;
}
#joinbutton{
  background-color: black;
  border-color: black;

}


/*REGISTER Page*/

Tabs {
  background: rgb(160, 98, 98);

  margin-bottom: 80px;
  margin-top: 14px;
  padding-bottom: 40px;
  padding-top: 25px;
  width: 50%;

}

#regform{
  margin: auto;
  width: 50%;
  height: 350px;
  padding: 10px;
  background-color: #f7f4f4;
  margin-top: 50px;
  margin-bottom: 150px;
  color: #AC1018;
  font-weight: 500;;

}
label{
  margin-right: 20px;
  margin-left: 70px;
}
#email{
  padding-left: 100px;
  margin-left: 30px;

}
input{
  margin-bottom: 90px;
  margin: 90px;
  border-radius: 3px ;
  border-color: rgb(240, 233, 233);
width: 50%;
 
}


#guest{
  color: #AC1018;
  text-align: center;
  text-decoration: none;
  margin-bottom: 30px;
  

}     
.buttonR{
  text-align: center;
  text-align: center;
  font-weight: 600;
  background-color: #AC1018;
  border-color: #AC1018;
  color: white;
  width: 30%;
  height: 40px;
  margin-left: 35%;
}
#signinbutton{
  margin-top: 70px;
}
.username{
  margin-top: 40px;
}